
.back{
    width:100%;
    height: 100%;
   background-color: rgba(44, 98, 177, 1)
  }

  .title{
    font-family: "Varela Round";
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 42px;
    color: #FFE607;
    padding-left: 2em;
  }

  .subtitle{
    font-family: "Varela Round";
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 52px;
    text-align: left;
    color: #F18B2D;
    padding-left: 6%;
  }

  .parrafo{
    font-family: Varela;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 32px;
    padding-left: 8%;
    padding-right: 8%;
    color: #000000; 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed ligula a nibh tincidunt feugiat. Ut fermentum pharetra dolor eget commodo. Ut viverra pharetra odio, nec tempor nulla efficitur a. Praesent ut risus et lorem imperdiet tempor ac non diam. Nulla euismod pretium dui. Morbi id congue ligula, quis molestie nisl. Donec a neque quam. Duis turpis nisl, pulvinar in efficitur non, egestas vel dui. Donec eu arcu a mi consectetur porttitor. Donec non nunc ac lacus mattis convallis eget vel velit.

Etiam nec mauris vel urna pharetra accumsan. Maecenas hendrerit tortor ut nunc mattis aliquam. Duis sed leo convallis, porta augue at, aliquet diam. Integer accumsan tempor elit vitae mattis. Proin dignissim mi lectus, eu bibendum nisl vehicula id. Suspendisse ultricies lacinia nulla et ultrices. Proin metus ante, convallis vel pharetra et, convallis quis ligula. Mauris luctus, arcu a sodales viverra, sapien felis pretium augue, ut rhoncus enim odio vel nibh. Nulla varius metus nec ligula pharetra, in efficitur ex eleifend. Etiam eget lacinia leo, ut luctus purus. Donec non lorem et nunc luctus interdum nec eget lorem. Cras non luctus dolor, ac congue metus. Pellentesque faucibus lectus quis faucibus elementum. Morbi sagittis velit ut risus consectetur, eu molestie nibh lobortis. Praesent venenatis, diam vel malesuada fermentum, lacus lectus pretium magna, eu finibus tortor nisl consequat velit.
  }

  .cuadroBlanco{
      background-color: white;
      text-align: center;
      border-radius: 2.5%;
      height: 1000px;
  }

  .video{
      width: 90%;
  }
