
.back{
    width:100%;
    height: 100%;
   background-color: rgba(44, 98, 177, 1)
  }

  .title{
    font-family: "Varela Round";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    color: #FFE607;
    padding-left: 2em;
  }

  .cuadroBlanco{
      background-color: white;
      border: 15px;
      height: 1000px;
  }
