@import url('//fonts.googleapis.com/css?family=Varela+Round');

.bg{
    background-color: rgba(40, 44, 52, 1);
    /* background-image: url("./images/bg.png");
    background-repeat: no-repeat;
  background-size: cover; */

   height: 1000px;
  /* width: 1000px;  */
 
}

.logo{
position: absolute;
width: 40%;
height: 50%;
left: 15%;
top: 50%;
background-image: url("./images/logo.PNG");
    background-repeat: no-repeat;
  background-size: contain;
 

}

.ellipse1{
    position: absolute;
width: 25vw;
height: 25vw;
left: 20%;
top: 50%;
background: #438CFB;
border-radius: 50%;
}

.ellipse2{
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: 8%;
    top: 28%;
background:rgba(44, 98, 177, 1);
border-radius: 50%;
}

.ellipse3{
    position: absolute;
    width: 75vw;
    height: 75vw;
    left: -5%;
    top: 5%;
background: rgba(34, 75, 136, 1);
border-radius: 50%;
}

.ellipse4{
    position: absolute;
    width: 100vw;
    height: 100vw;
    left: -5%;
    top: -5%;

border: 4px solid #18335B;
box-sizing: border-box;
border-radius: 50%;
}

.behind{
    /* z-index:-999;
    width: auto;
    height: auto;
    background-color: red; */
}

.front{
    position: relative;
    z-index:999;
}

.linea{
    color: white;
    background-color: white;
    height: 5px;
    width: 75%;
    float: left;
    border-radius: 5px;
   
}

.nombre{
    color: white;
    font-family: "Varela Round";
    padding: 25px;
    padding-bottom: 0px;
    font-size: 3em;
    
}


.naranja{
    color: white;
    background-color: rgba(224, 111, 63, 1);
    font-family: "Varela Round";
}

.naranja:hover {
    color: white;
    background-color:  rgb(197, 97, 54);
}

.verde{
    font-family: "Varela Round";
    width: 75%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 400px;
    
    }
}


.caja{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    width:25%;
    float: right;
}

.contenedor{
    position: absolute;
    width: 100%;
    /* padding-right: 100px;
    padding-top: 200px; */
    top: 75%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}