@import url('//fonts.googleapis.com/css?family=Varela+Round');

.perfil{
    width: auto;
    border-radius: 50%;
    height: 8em;
}

.texto{
    font-family: Varela Round;
font-style: normal;
font-weight: normal;
font-size: 1.5em;
line-height: 36px;
text-align: center;

color: #FFFFFF;
padding-left: 1em;
}

.name{
    border-bottom: 3px solid white;
}
