.box {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    /* left: 44px;
    top: 351px; */

    background: #224B88;
    box-shadow: 4px 4px 3px #282C34;
    border-radius: 20px;
}

.lessonName {
    width: 291px;
    height: 58px;
    padding-top: 15px;
    margin-left: 25px;
    text-align: left;

    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 48px;

    color: #FFFFFF;
}

.pict {
    width: 50%;
    height: 50%;
    margin-top: 30px;
    margin-left: 23%;
    text-align: center !important;
    border-radius: 108px;
}

.progressBar {
    width: 80%;
    height: 21px;
    margin-left: 10%;
    margin-top: 50px;
    background: #EFEEEE;
    border-radius: 100px;
}

.progress {
    width: 60%;
    height: 21px;
    margin-left: 0px;    
    background: #19AD42;
    border-radius: 100px;
}