.box {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 8px;
    margin-left: 30px;
    margin-bottom: 40px;
    /* left: 44px;
    top: 351px; */

    background: #194c99;
    box-shadow: 4px 4px 3px #052b75;
    border-radius: 20px;
}

.box:hover {
    animation: pop 0.5s linear 1;
    background-color: #133466;
}
@keyframes pop{
    50%  {transform: scale(1.1);}
}

.lessonName {
    width: 291px;
    height: 58px;
    padding-top: 15px;
    margin-left: 25px;
    text-align: left;

    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 48px;

    color: #FFFFFF;
}

.pict {
    width: 170x;
    height: 170px;
    /* margin-top: 3px; */
    /* margin-left: 15px; */
    text-align: center !important;
    border-radius: 100%;
}

.progressBar {
    width: 80%;
    height: 21px;
    margin-left: 10%;
    margin-top: 20px;
    background: #EFEEEE;
    border-radius: 100px;
}

.progress {
    width: 60%;
    height: 21px;
    margin-left: 0px;
    background: #19AD42;
    border-radius: 100px;
}