.square {
    position: relative;
    /* margin-left: 30%; */
    margin-left: 3%;
    /* margin-right: 3%; */
    right: 0;
    /* top: 20%; */
    border-radius: 10px;
    background: #2C62B1;
    /* background-image: linear-gradient(to right ,rgb(0, 255, 234),white,rgb(0, 0, 83)); */
}

.left {
    position: relative;
    width: 95px;
    height: 40px;
    left: 0px;
    top: 30px !important;

    background: #438CFB;
}

.nav1{
    display:block;
}

.listItem1{
    float: left; 
}


.right {
    position: relative;
    width: 100%;
    margin-right: 0;
    height: 40px;
    top: 30px;
    right: 0;

    background: #438CFB;
}

.levelText {
    position: relative;
    width: 243px;
    height: 80px;
    top: 30px;

    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;

    color: rgba(255, 230, 7, 1);;
}