@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

.yellowBtn {
  width: 90%;
  height: 100%;
  border-radius: 5px;
  font-family: 'Lexend', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  background-color: #ddd019;
  vertical-align: top;

  border: none;
  color: #817823;
}

.yellowBtn:hover:enabled{
  background-color: #afa625;
  color: white;
}

.yellowBtn:disabled {
 opacity: 70%;
}

.letterSize {
  font-size: 40px;
}

.helperTxt {
  padding-left: 20px;
  height: 20px;
  display: block;
  font-size: 15px;
}

.verificarBtn{
  vertical-align: text-top;
  /* background-color: red; */
  text-align: left;
  border-radius: 2.5%;
  height: 100%;
}

.scoreOfUser {
  margin-bottom: 45px;
  margin-top: 25px;
  color:chartreuse;
  font-size: 22px;
}